
.main_order_detail {
    background-color: #f8f8ff;
}
.order_section {
   
}
.order_details_card_style {
margin-left: 25px;


}
.customer_detail_section {
    margin-left: 15px;
    
}



.order_header {
    display: flex;
    height: 50px;
   
}
.order_header h3 {
    padding: 5px;
    font-weight: bold;
}
.order_header h3:nth-child(2) {
    font-weight: normal;
   
}
.back_to_previous {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  
}
.back_to_previous button {
    margin-right: 30px;
    background-color: #e9effd;
    padding: 7px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: grey;
}

/* tab style inner */

.order_details_tab_style {
    margin: 0rem 0.8rem;

}
.order_tab_inner {
   margin-left: 5px;
}
.order_details_box, .order_invoice {
    margin-left: -7px;
    margin-top: 5px;
}
.order_details_box  h6 {
    font-weight: bold;
    padding: 10px;
}
.order_details_date {
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
  
}
.order_details_date p {
    padding-left: 10px;
}
.order_details_date span {
    font-weight: bold;
    padding-right: 8px;
    color: gray;
}
.order_invoice h6, .order_product_tab h6 {
font-weight: bold;
    padding: 10px;
}
.product_order_data {
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
}
.product_order_data p {
    padding-left: 10px;
}
.product_order_data span {
    padding-right: 10px;
    font-weight: bold;
    color: gray;
}
.order_customer_header {
    display: flex;
    justify-content: space-between;
}
.order_customer_header h5 {
    font-size: 18px;
    font-weight: bold;
}
.order_customer_header button {
    border: none;
    outline: none;
    padding: 5px;
    background-color: #e4e6eb !important;
  border-radius:5px;
  font-size: 15px;
  margin-bottom: 5px;
}
.order_customer_detail_data {
    display: flex;
    justify-content: space-between;
}
.order_customer_first_name span {
    color: gray;
}
.order_customer_detail_data h6 {
    font-weight: bold;
}

/* ORDER PRODUCT */

.order_product_container {
  margin: 20px 20px;
  
   
  
}

.order_product_section {
  
   
    
}